[Unit]
Description=Jenkins Daemon

[Service]
Type=forking
ExecStart=/usr/bin/java {{ JAVA_OPTS }} -jar {{ jenkins_home }}jenkins.war --daemon
User={{ jenkins_user }}
Restart=always
RestartSec=20

[Install]
WantedBy=multi-user.target

ExecStart=/usr/bin/java -Djava.awt.headless=true -DJENKINS_HOME=/opt/jenkins/ -jar /opt/jenkins/jenkins.war --daemon